<div class="form-group">
  <label for="">Tên Phim</label>
  <input type="text" class="form-control" [(ngModel)]="form.name" >
</div>
<div class="form-group">
    <label for="">Giá</label>
    <input type="text" class="form-control" [(ngModel)]="form.price" >
  </div>

  <div class="form-group">
    <label for="">Hình ảnh</label>
    <!-- <input type="file" class="form-control" [(ngModel)]="form.img" > -->
    <input type="file" class="form-control" (change)=handleSelectFile($event) >
    <!-- <input type="file" multiple class="form-control" (change)=handleSelectFile($event) > -->

    
  </div>
  <button class="btn btn-success" (click)="handleAddMovie()"  >Thêm Phim</button>
  <hr>
  
