<!-- <h1 class="title">Hello Angular</h1> -->
<!-- <app-header class="badge bg-danger w-100 header" ></app-header>
<div class="d-flex" >
    <app-content class="sidebar w-75" ></app-content>
    <app-sidebar class="content  w-25" ></app-sidebar>
</div>
<app-footer class="badge bg-primary w-100 footer"></app-footer> -->
<!-- <app-baitap2></app-baitap2> -->
<!-- <app-data-binding>ád</app-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-baitap6></app-baitap6> -->

<!-- <app-card>
    <p slot="header"> Thong tin  </p>
    <div slot="body" >
        <h1> Dan nguyeen</h1>
        <p>Lop: FE53</p>
    </div>
    <button slot="footer" > Buttonng  </button>
</app-card>

<div class="header" ></div> -->

<!-- Demo custom directives  -->
<!-- <div appHighlight >
    demo high light directive
</div> -->
<!-- 
<app-interaction>

</app-interaction> -->

<!-- <app-bus></app-bus> -->

<!-- 1. Tạo mới module bus
2. Tạo mới component bus
3. Tạo các component con
4. export busComponent trong busModule : exports:[BusComponent] }
5. import busModule trong app.module.ts 
6. vào file app.html  gọi ra <app-bus></app-bus> -->


<!-- <app-shoping-cart></app-shoping-cart> -->


<router-outlet>
    
</router-outlet>